{% extends "church/layout.html" %}
{% load static %}

{% block title %}Mt Vernon UMC{% endblock %}
{% block content %}
<h1>Welcome to MtV!</h1>
	<p>At Mt Vernon UMC, we are ...
		<ul class="list-unstyled ms-3">
			<li>… a church that is committed to the Bible as the Word of God.</li>
			<li>… a community of believers who are committed to loving God and loving others.</li> 
			<li>… a church that is focused on reaching people with the love of Jesus Christ.</li>
			<li>… a church that is committed to helping people grow in their relationship with God.</li>
			<li>… a church that is committed to serving others.</li>
			<li>… a church that is committed to making a difference in our community and in our world.</li>
			<li>… a church that is committed to making disciples of Jesus Christ for the transformation of the world.</li>
		</ul>
	</p>
{% endblock %}